molgenis-app-lifelines/src/main/resources/schemas/emeasureschemas/POQM_MT000001UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
   <!--
*****************************************************************************************************************
* XML schema for message type POQM_MT000001UV.
* Source information:
*     Rendered by: RoseTree 4.2.42
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 7657 2009-03-27 04:11:34Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.3.1
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 3.3.1. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RoseTreeHmdToMIFStaticModel.xsl 7657 2009-03-27 04:11:34Z wbeeler $
  Base transform: $Id: ConvertBase.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  HTML To MIF markup: $Id: HtmlToMIFMarkup.xsl 7375 2009-01-26 19:26:53Z wbeeler $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT090107UV.xsd"/>
   <xs:include schemaLocation="POQM_MT000002UV.xsd"/>
   <xs:complexType name="POQM_MT000001UV.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0"/>
         <xs:element name="time" type="TS" minOccurs="0"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0"/>
         <xs:element name="assignedPerson" type="COCT_MT090107UV.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="qualityMeasureSet" type="POQM_MT000001UV.QualityMeasureSet"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" fixed="COMP"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="section" type="POQM_MT000001UV.Section"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="section" type="POQM_MT000001UV.Section"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" fixed="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090107UV.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Entry">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="account" type="POQM_MT000002UV.Account"/>
            <xs:element name="act" type="POQM_MT000002UV.Act"/>
            <xs:element name="publicHealthCase" type="POQM_MT000002UV.PublicHealthCase"/>
            <xs:element name="substanceAdministration" type="POQM_MT000002UV.SubstanceAdministration"/>
            <xs:element name="diagnosticImage" type="POQM_MT000002UV.DiagnosticImage"/>
            <xs:element name="document" type="POQM_MT000002UV.Document"/>
            <xs:element name="encounter" type="POQM_MT000002UV.Encounter"/>
            <xs:element name="exposure" type="POQM_MT000002UV.Exposure"/>
            <xs:element name="financialContract" type="POQM_MT000002UV.FinancialContract"/>
            <xs:element name="financialTransaction" type="POQM_MT000002UV.FinancialTransaction"/>
            <xs:element name="invoiceElement" type="POQM_MT000002UV.InvoiceElement"/>
            <xs:element name="observation" type="POQM_MT000002UV.Observation"/>
            <xs:element name="procedure" type="POQM_MT000002UV.Procedure"/>
            <xs:element name="supply" type="POQM_MT000002UV.Supply"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.MeasureAttribute">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD"/>
         <xs:element name="value" type="ANY"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.ParentQualityMeasureDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II"/>
         <xs:element name="code" type="CD" minOccurs="0"/>
         <xs:element name="text" type="ED" minOccurs="0"/>
         <xs:element name="setId" type="II" minOccurs="0"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Participant2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0"/>
         <xs:element name="assignedPerson" type="COCT_MT090107UV.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.QualityMeasureDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II"/>
         <xs:element name="code" type="CE"/>
         <xs:element name="title" type="ST"/>
         <xs:element name="text" type="ED" minOccurs="0"/>
         <xs:element name="statusCode" type="CS"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0"/>
         <xs:element name="languageCode" type="CE" minOccurs="0"/>
         <xs:element name="setId" type="II"/>
         <xs:element name="versionNumber" type="INT"/>
         <xs:element name="author" type="POQM_MT000001UV.Author" maxOccurs="unbounded"/>
         <xs:element name="custodian" type="POQM_MT000001UV.Custodian"/>
         <xs:element name="verifier" type="POQM_MT000001UV.Verifier" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="POQM_MT000001UV.Participant2" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedDocument" type="POQM_MT000001UV.RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POQM_MT000001UV.Subject" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POQM_MT000001UV.Component" minOccurs="0"/>
         <xs:element name="component" type="POQM_MT000001UV.Component2" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.QualityMeasureSet">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II"/>
         <xs:element name="title" type="ST" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.RelatedDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="parentQualityMeasureDocument" type="POQM_MT000001UV.ParentQualityMeasureDocument"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Section">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0"/>
         <xs:element name="code" type="CD" minOccurs="0"/>
         <xs:element name="title" type="ED" minOccurs="0"/>
         <xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
         <xs:element name="languageCode" type="CE" minOccurs="0"/>
         <xs:element name="author" type="POQM_MT000001UV.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="entry" type="POQM_MT000001UV.Entry" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component" type="POQM_MT000001UV.Component3" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="DOCSECT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="measureAttribute" type="POQM_MT000001UV.MeasureAttribute"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="POQM_MT000001UV.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0"/>
         <xs:element name="time" type="TS" minOccurs="0"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0"/>
         <xs:element name="assignedPerson" type="COCT_MT090107UV.AssignedPerson"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="VRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
</xs:schema>
